# python
python-dotenv
jupyter

# data
ibis-framework[duckdb,polars,deltalake] @ git+https://github.com/ibis-project/ibis

# viz
#matplotlib
#seaborn
plotly
plotly-geo
geopandas
pyshp
shapely
#altair @ git+https://github.com/altair-viz/altair.git@main
streamlit

# ml
scikit-learn

