<script src="https://giscus.app/client.js"
        data-repo="lostmygithubaccount/lostmygithubaccount.github.io"
        data-repo-id="R_kgDOHmPgiQ"
        data-category="dkdc.ai"
        data-category-id="DIC_kwDOHmPgic4CTTkT"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="dark"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
